<html>
    {%load static%}
    <head>
        <title>Container Leasing</title>
        <link rel="stylesheet" href="{% static 'css/adminhome.css' %}">
    </head>
    <body>
        
            <nav>
                <label class="adminhome">Welcome Lessee</label>
                <ul>
                    <li>
                        <a href="/container_leasing_app/lessee_home">home</a>
                    </li>
                    <li>
                        <a href="/container_leasing_app/lessee_editprofile">edit profile</a>
                    </li>
                    <li>
                        <a href="/container_leasing_app/lessee_view_container_list">view container list</a>
                    </li>
                    <li>
                        <a href="/container_leasing_app/lessee_view_leasing_list">view leasing list</a>
                    </li>
                    <li>
                        <a href="/container_leasing_app/home">Logout</a>
                    </li>
                </ul>
            </nav>
            <h1>16 Types of Container Units and Designs for Shipping Cargo</h1>
            <p class="paragraph">Container units form the most integral part of the entire shipping industry, trade, and transport. 
                These shipping containers store various kinds of products that need to be shipped from one part of the world to another via different types of container ships.
                <br><br>
                Moving containers protect contents on their long journeys and ensure they make it back to you in one piece.
                <br><br>
                Depending on the type of products to be shipped or the special services needed, container units may vary in dimension, structure, materials, construction, etc. Various shipping containers are being used today to meet the requirements of all kinds of cargo shipping.
            </p>
            <h2>1. Dry storage container</h2>
            <p>The most commonly used shipping containers; come in various dimensions standardized by ISO. 
                They are used for shipping dry materials and come in the size of 20ft, 40 ft and 10ft.</p>
            <center>
                <img src="{% static 'images/Dry storage sontainer.jpg' %}" alt="Dry storage sontainer.jpg">
            </center>

            <h2>2. Flat rack container</h2>
            <p>With collapsible sides, these are like simple storage shipping containers where the sides can be folded to make a flat rack for shipping a wide variety of goods.</p>
            <center>
                <img src="{% static 'images/Flat rack container.jpg' %}" alt="Dry storage sontainer.jpg">
            </center>
            
            <h2>3. Open top container</h2>
            <p>With a convertible top that can be removed to make an open top, materials of any height can be shipped quickly.</p>
            <center>
                <img src="{% static 'images/Open top container.jpg' %}" alt="Dry storage sontainer.jpg">
            </center>
            
            <h2>4. Tunnel container</h2>
            <p>Container storage units are provided with doors on both ends of the container, helping to load and unload materials quickly.</p>
            <center>
                <img src="{% static 'images/Tunnel container.jpg' %}" alt="Dry storage sontainer.jpg">
            </center>
            
            <h2>5. Open side storage container</h2>
            <p>These storage units have doors that can change into open sides, providing a much wider room for loading materials.</p>
            <center>
                <img src="{% static 'images/Open side storage container.jpg' %}" alt="Dry storage sontainer.jpg">
            </center>
            
            <h2>6. Double doors container</h2>
            <p>They are a kind of storage unit with double doors, making a wider room for loading and unloading materials. 
                Construction materials include steel, iron etc., in standardized sizes of 20ft and 40ft.</p>
            <center>
                <img src="{% static 'images/Double doors container.jpg' %}" alt="Dry storage sontainer.jpg">
            </center>
            
            <h2>7. Refrigerated ISO containers</h2>
            <p>These are temperature-regulated shipping containers that always have a carefully controlled low temperature. 
                They are exclusively used to ship perishable substances like fruits and vegetables over long distances.</p>
            <center>
                <img src="{% static 'images/Refrigerated ISO containers.png' %}" alt="Dry storage sontainer.jpg">
            </center>
            
            <h2>8. Insulated or thermal containers</h2>
            <p>These are the shipping storage containers with regulated temperature control to maintain a higher temperature.
                The choice of material is so made to allow them a long life without being damaged by constant exposure to high temperatures. 
                They are most suitable for long-distance transportation of products.</p>
            <center>
                <img src="{% static 'images/Insulated or thermal containers.jpg' %}" alt="Dry storage sontainer.jpg">
            </center>
            
            <h2>9. Tanks</h2>
            <p>Container storage units are used mainly for the transportation of liquid materials; they are used by a considerable proportion of the entire shipping. 
                They are mostly made of strong steel or other anti-corrosive materials, providing them with long life. 
                They also offer the best protection to the materials stored in them.</p>
            <center>
                <img src="{% static 'images/Tanks.jpg' %}" alt="Dry storage sontainer.jpg">
            </center>
            
            <h2>10. Cargo storage roll container</h2>
            <p>A foldable container is one of the specialized container units made to transport sets or stacks of materials. 
                They are made of thick and robust wire mesh along with rollers that allow their easy movement. 
                The availability of a range of coloured wire meshes makes these shipping container units a little more cheerful.</p>
            <center>
                <img src="{% static 'images/Cargo storage roll container.jpg' %}" alt="Dry storage sontainer.jpg">
            </center>
            
            <h2>11. Half-height containers</h2>
            <p>Another kind of shipping container includes half-height containers. 
                Made primarily of steel, these containers are half the height of full-sized containers. 
                Used primarily for goods like coal, stones etc., which need easy loading and unloading.</p>
            <center>
                <img src="{% static 'images/Half-height containers.jpg' %}" alt="Dry storage sontainer.jpg">
            </center>

            <h2>12. Car carriers</h2>
            <p>Car carriers are container storage units made especially for transporting over long distances. 
                They come with collapsible sides that help a car fit snugly inside the containers without the risk of being damaged or moving from the spot.</p>
            <center>
                <img src="{% static 'images/Car carriers.jpg' %}" alt="Dry storage sontainer.jpg">
            </center>

            <h2>13. Intermediate bulk shift containers</h2>
            <p>These are specialized storage shipping containers made solely for the intermediate shipping of goods. 
                They are designed to handle large amounts of materials and are made for shipping materials to a destination where they can be further packed and sent off to the final spot.</p>
            <center>
                <img src="{% static 'images/Intermediate bulk shift containers.jpg' %}" alt="Dry storage sontainer.jpg">
            </center>

            <h2>14. Drums</h2>
            <p>As the name suggests, circular shipping containers are made from steel, lightweight metals, fibre, hard plastic etc. , are most suitable for bulk transport of liquid materials. 
                They are smaller but may need extra space due to their shape.</p>
            <center>
                <img src="{% static 'images/Drums.jpg' %}" alt="Dry storage sontainer.jpg">
            </center>

            <h2>15. Special purpose containers</h2>
            <p>Not ordinary containers; these are container units custom-made for specialized purposes. 
                Mainly, they are used for high-profile services like the shipment of weapons and arson. 
                Their construction and material composition depend on the particular purpose they need to cater to. 
                But in most cases, security remains the top priority.</p>
            <center>
                <img src="{% static 'images/Special purpose containers.jpg' %}" alt="Dry storage sontainer.jpg">
            </center>

            <h2>16. Swap bodies</h2>
            <p>They are a special kind of container used mainly in Europe. 
                Not made according to the ISO standards, they are not standardized shipping container units but are extremely useful. 
                They are provided with a firm bottom and a convertible top making them suitable for shipping many products.</p>
            <center>
                <img src="{% static 'images/Swap bodies.jpg' %}" alt="Dry storage sontainer.jpg">
            </center>
    </body>
</html>
