<html>
    {%load static%}
    <head>
        <title>Container Leasing</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            <div class="lesseehome">
                <h1>Welcome Lessee</h1>
                <button>
                    <a href="/container_leasing_app/home">Logout</a>
                </button>
            </div>
        </form>

    </body>
</html>
