<html>
    {%load static%}
    <head>
        <title>Container Leasing</title>
        <link rel="stylesheet" href="{% static 'css/adminhome.css' %}">
    </head>
    <body>
            <nav>
                <label class="adminhome">Welcome Lessee</label>
                <ul>
                    <li>
                        <a href="/container_leasing_app/lessee_home">home</a>
                    </li>
                    <li>
                        <a href="/container_leasing_app/lessee_editprofile">edit profile</a>
                    </li>
                    <li>
                        <a href="/container_leasing_app/lessee_view_container_list">view container list</a>
                    </li>
                    <li>
                        <a href="/container_leasing_app/lessee_view_leasing_list">view leasing list</a>
                    </li>
                    <li>
                        <a href="/container_leasing_app/home">Logout</a>
                    </li>
                </ul>
            </nav>
            <h1>Lessee Details</h1>
            <table class="txt-cen" border="1">
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Company</th>
                    <th>Country</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
                {% for lesseedetail in lesseedetail %}
                <tr>
                    <td>{{lesseedetail.id}}</td>
                    <td>{{lesseedetail.First_Name}}</td>
                    <td>{{lesseedetail.Last_Name}}</td>
                    <td>{{lesseedetail.Email}}</td>
                    <td>{{lesseedetail.Phone_No}}</td>
                    <td>{{lesseedetail.Company}}</td>
                    <td>{{lesseedetail.Country}}</td>
                    <td>{{lesseedetail.State}}</td>
                    <td>{{lesseedetail.City}}</td>
                    <td>
                        <a href="/container_leasing_app/lessee_editprofile_edit/{{lesseedetail.id}}">edit</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% if data %}
            <h1>Edit Details</h1>
            <form method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        First Name  
                    </td>
                    <td>
                        {{data.First_Name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Last Name  
                    </td>
                    <td>
                        {{data.Last_Name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Email
                    </td>
                    <td>
                        {{data.Email}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Phone Number
                    </td>
                    <td>
                        <input type="text" name="phoneno" value="{{data.Phone_No}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Company 
                    </td>
                    <td>
                        {{data.Company}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Country
                    </td>
                    <td>
                        <input type="text" name="country" value="{{data.Country}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        State
                    </td>
                    <td>
                        <input type="text" name="state" value="{{data.State}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        City
                    </td>
                    <td>
                        <input type="text" name="city" value="{{data.City}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Username
                    </td>
                    <td>
                        {{data.Username}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Password
                    </td>
                    <td>
                        <input type="password" name="password" value="{{data.Password}}">
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <input type="submit" value="Save Changes">
            </form>
            {% endif %}
    </body>
</html>
