<html>
    {%load static%}
    <head>
        <title>Container Leasing</title>
        <link rel="stylesheet" href="{% static 'css/adminhome.css' %}">
    </head>
    <body>
        
            <nav>
                <label class="adminhome">Welcome Lessee</label>
                <ul>
                    <li>
                        <a href="/container_leasing_app/lessee_home">home</a>
                    </li>
                    <li>
                        <a href="/container_leasing_app/lessee_editprofile">edit profile</a>
                    </li>
                    <li>
                        <a href="/container_leasing_app/lessee_view_container_list">view container list</a>
                    </li>
                    <li>
                        <a href="/container_leasing_app/lessee_view_leasing_list">view leasing list</a>
                    </li>
                    <li>
                        <a href="/container_leasing_app/home">Logout</a>
                    </li>
                </ul>
            </nav>
      
    </body>
</html>
