<html>
    {%load static%}
    <head>
        <title>Container Leasing</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <h1>Lessee Login</h1>
        <form method="post">
            {% csrf_token %}
            <div class="lesseelog">
                <label>Username</label>
                <input type="text" name="username">
                <br>
                <br>
                <label>Password</label>
                <input type="password" name="password">
                <br>
                <br>
                <label>New Here?</label>
                <a href="/container_leasing_app/lesseereg">Register</a>
                <br>
                <br>
                <input type="submit" value="Login"/>
    
            </div>

        </form>
    </body>
</html>
